.z1{
    color: gold;
position:fixed;
  left: 450px;
}
#ratom{
    color: red;
    position:fixed;
  left: 1200px;
}

#div1{
    color: blue;
    position: relative;
    left: 100px;
    top: 100px;
}
#div2{
    color:red;
    position: relative;
    left: 100px;
    top: 130px;
}
#div3{
    color:yellowgreen;
    position: absolute;
    left: 100px;
    top: 190px;
}
#blak{
    background-color: black;
}
#div4{
    color: purple;
    position: absolute;
    left: 1000px;
    top: 130px;
}
#rati{
    color: aquamarine;
    position: fixed;  bottom: 0;
}

