
div {
    width: 200px;
    height: 150px;
    background-color: gold;
    border: 1px solid black;
    margin: 30px;

    font-size: 2em;
    color: white;
    font-family: cursive;

    display: block;
}