#header{
    border:solid 10px;
    background-color: red;
    position: fixed;
    left: 500px;
}
#ppp{
    opacity: 0.5;
    border:solid 10px;
    background-color: red;
    position: fixed;
    left: 1200px;
    top: -10px;
}










